
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$normal-color:#daaa5a;
$normal-color-description:#faf6d0;
$effect-color:#b5775f;
$effect-color-description:#ecd9ca;
$fusion-color:#9f76b8;
$fusion-color-description:#c2a9cf;
$ritual-color:#5b82ab;
$ritual-color-description:#bcd2e5;
$trap-color:#a60972;
$trap-color-description:#e3cbd4;
$spell-color:#066973;
$spell-color-description:#a0d1d5;

