
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.logo-img{
	height: 50px;
    width: 125px;
}

.attr-image{
	height: 50px;
	width: 50px;
	margin: 5px;

}
.img-level{
	height:20px;
	width:20px;
}

.h3-title{
	padding: 10px;
}
.header-title{
	border: 4px solid rgba(78, 91, 104, 0.15);
    box-shadow: 2px 5px 5px 0px rgba(73, 80, 87, 0.36);
}