
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.logo-img{
	height: 50px;
    width: 125px;
}

.attr-image{
	height: 50px;
	width: 50px;
	margin: 5px;

}
.img-level{
	height: 22px;
    width: 25px;
    margin-left: 4px;
}

.h3-title{
	padding: 10px;
}
.header-title{
	border: 4px solid rgba(78, 91, 104, 0.15);
    box-shadow: 2px 5px 5px 0px rgba(73, 80, 87, 0.15);
    width: 100%;
    margin: 0 auto;	
}

.card-header{
	border: none;
}

.description{
	margin-top: 30px;
    border: solid #983831;
    padding: 10px;
}
.card.card-holder{
	border: 15px solid rgba(33, 37, 41, 0.69);
}

hr{
	border-top: 1px solid rgb(0, 0, 0);
}
.card-body.normal,.card-header.normal{
	background-color:$normal-color;
}
.description.normal{
	background-color: $normal-color-description;
}
.card-body.effect,.card-header.effect{
	background-color:$effect-color;
}
.description.effect{
	background-color: $effect-color-description;
}
.card-body.fusion,.card-header.fusion{
	background-color:$fusion-color;
}
.description.fusion{
	background-color: $fusion-color-description;
}
.card-body.ritual,.card-header.ritual{
	background-color:$ritual-color;
}
.description.ritual{
	background-color: $ritual-color-description;
}